DISCORD_TOKEN=
LAVALINK_PASSWORD=123123
JAVA_PATH=bot\utils\lavalink_utils
COGS_FOLDER=bot\cogs
LOGS_FOLDER=bot\data\python_logs\log

SUPPORTED_LINKS_PATH=bot\cogs\supported_links.json
FFMPEG_EXE=bot\utils\ffmpeg_utils\ffmpeg.exe